@*@model IEnumerable<Book_library.Models.Book>*@
@*@model Book_library.Models.BookGenreViewModel*@
@model Book_library.Models.SearchViewModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@


<h4 class="text-center">Books list</h4>
<p>
    <a asp-action="Create">Add New Book</a>
</p>

@*primary filter by Title*@
@*<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>*@

@*get Genre selection field*@
@*<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>*@

@*Filter by selected header type *@
<form>
    <p>
        <select asp-for="HeaderType" asp-items="Model.HeaderElements" style="height: 29px">
        </select>
        <input type="text" name="searchString" style="height: 29px">
        <input type="submit" value="Filter" style="height: 29px" />
        <input type="submit" value="Reset" onclick="location.href = '@Url.Action("Index", "Books")'; return false;" style="height: 29px" />
    </p>
</form>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedWith)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWith)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].SharedWith)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Pages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharedWith)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pages)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
